body {
    font-family: 'Raleway', sans-serif;
    background-color: #aab7b7;
}
h1 {
    margin: 0em;
    padding: 0em;
    color: darkolivegreen;
    font-family: "Edwardian Script ITC";
    font-size: 100px;
    font-weight: bold;
}
h2{
    margin: 10px 75px;
    color: darkolivegreen;
    font-family: "Footlight MT Light";
    font-size: 27px;
    font-weight: 800;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
}
nav a {
    position: relative;
    display: inline-block;
    margin: 15px 125px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
    font-family: "Footlight MT Light";
}
nav a:hover,
nav a:focus {
    outline: none;
}

.rich a {
    color: darkolivegreen;
    text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.rich a::before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}
.rich a:hover::before,
.rich a:focus::before {
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
}
.poor a {
    color: darkolivegreen;
    text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.poor a::before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}
.poor a:hover::before,
.poor a:focus::before {
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
}
img {
    margin: -25px 125px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 500px;
}
.all{
    margin: 25px 125px;
    font-family: "Footlight MT Light";
    font-size: 11px;
    color: black;
}
.link {
    text-decoration: none;
}